# Object files
*.o

# Libraries
*.lib
*.a
*.d

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

bin
lib
build
.settings

# emacs ide
.emacs.desktop
.emacs-ide-project.txt
TAGS
cscope.files
*.lock

*#

